.t3-page-ce-header-left button[data-b13-collapse] {
    display: none;
}

.t3-page-ce-header-right button[data-b13-collapse][aria-expanded=false] > span:first-child {
    display: none;
}
.t3-page-ce-header-right button[data-b13-collapse][aria-expanded=true] > span:last-child {
    display: none;
}
